.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;
}

.navbar-transparent {
  background-color: transparent;
  box-shadow: none;
}

.navbar-solid {
  background-color: #faf9f6;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.08);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 20px 64px;
}

.nav-link {
  font-family: "Barlow", sans-serif;
  text-decoration: none;
  font-size: 1.1rem;
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

.logo-link {
  font-family: "Selovira Signature", serif;
  text-decoration: none;
  font-size: 4.3rem;
}

.logo-link-container {
  padding-bottom: 7px;
}

.cart-link {
  font-size: 24px;
}

/* ---------- SWAP COLOURS OF NAV LINKS BASED ON NAVBAR STATE ---------- */
.navbar-transparent .nav-link,
.navbar-transparent .logo-link,
.navbar-transparent .cart-link {
  color: #faf9f6;
}

.navbar-solid .nav-link,
.navbar-solid .logo-link,
.navbar-solid .cart-link {
  color: black;
}

.navbar-transparent .nav-link::after {
  background-color: #faf9f6;
}

.navbar-solid .nav-link::after {
  background-color: black;
}
