/* ---------- Styles for product container ---------- */
.product-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

/* ---------- Reset styles for product card link ---------- */
.product-card-link {
  text-decoration: none;
  color: black;
}

/* ---------- Styles for product image container and image ---------- */
.product-image-container {
  overflow: hidden;
}

.product-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;

  transition:
    transform 0.3s ease,
    filter 0.4s ease;
}

.product-container:hover .product-image-container img {
  transform: scale(1.05);
  filter: brightness(0.95);
}

/* ---------- Styles for product info ---------- */
.product-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 8px;
  padding: 16px;
}

.product-info-container h3 {
  font-family: "Sora", sans-serif;
  font-weight: 400;
}

.product-info-container p {
  font-family: "Barlow", sans-serif;
  font-size: 0.9rem;
}

.product-info-container .product-short-description {
  font-size: 0.75rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 0.6;
}

/* ---------- STYLES FOR COMPACT CARDS ---------- */
.compact-card {
  width: 180px;
}

.compact-card .product-image-container img {
  height: 180px;
  object-fit: cover;
}

.compact-card .product-info-container {
  gap: 8px;
  padding: 8px;
}

.compact-card .product-info-container h3 {
  font-size: 1rem;
  padding-top: 8px;
}

.compact-card .product-info-container p {
  font-size: 0.9rem;
}
