.product-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  max-width: 400px;
}

.product-card-link {
  text-decoration: none;
  color: black;
}

.product-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 16px;
  padding: 8px;
}

/* ---------- STYLES FOR COMPACT CARDS ---------- */
.compact-card {
  width: 160px;
}

.compact-card .product-image-container img {
  height: 160px;
  object-fit: cover;
}

.compact-card .product-info-container {
  gap: 8px;
  padding: 8px;
}

.compact-card .product-info-container h3 {
  font-size: 1rem;
}

.compact-card .product-info-container p {
  font-size: 0.9rem;
}
