.checkout-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px 80px;
  margin-top: 65px;
}

.checkout-container {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.checkout-form,
.order-summary {
  background: white;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
}

.checkout-form {
  flex: 1.6;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 28px;
}

.order-summary {
  flex: 1;
  padding: 36px;
}

.checkout-form h2,
.checkout-form h3 {
  margin: 0;
  font-family: "Sora", sans-serif;
}

.checkout-form h2 {
  font-size: 1.5rem;
  margin-bottom: 4px;
  font-weight: 400;
}

.checkout-form h3 {
  font-weight: 400;
  font-size: 1rem;
  margin-top: 10px;
}

.checkout-section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.row {
  display: flex;
  gap: 12px;
}

.row input {
  flex: 1;
}

.checkout-form input {
  width: 100%;
  padding: 14px 16px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  font-size: 15px;
  background: white;
  color: black;
  font-family: "Barlow", sans-serif;
  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease;
}

.checkout-form input:focus {
  outline: none;
  border-color: black;
  box-shadow: 0 0 0 1px black;
}

.checkout-form button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 14px 20px;
  font-size: 14px;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-top: 14px;
}

.checkout-form button:hover {
  background-color: #222;
  transform: translateY(-1px);
}

.checkout-form button:active {
  transform: scale(0.99);
}

.checkout-page .order-success {
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: fit-content;
  max-width: 90%;
  padding: 14px 20px;

  background-color: #1f1f1f;
  color: #f7f4ef;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 14px;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);

  font-family: "Barlow", sans-serif;
  font-size: 0.95rem;
  letter-spacing: 0.2px;
  white-space: nowrap;

  animation: fadeInOut 2s ease forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translate(-50%, -10px);
  }
  15% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  85% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -10px);
  }
}

@media (max-width: 900px) {
  .checkout-page {
    padding: 80px 16px 60px;
  }

  .checkout-container {
    flex-direction: column;
    gap: 24px;
  }

  .checkout-form,
  .order-summary {
    width: 100%;
    padding: 20px;
  }

  .row {
    flex-direction: column;
    gap: 10px;
  }

  .success-box {
    width: 90%;
    padding: 18px;
  }
}
