/* ----------- Styles for shop page ----------- */
.shop-page-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  gap: 24px;
}

.shop-page-title {
  margin: 32px 0;
}

.shop-page-title h2 {
  font-family: "Sora", sans-serif;
  font-weight: 400;
}

/* ----------- Styles for product cards wrapper ----------- */
.product-cards-wrapper {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  padding: 0 24px;
  gap: 40px;
  margin-bottom: 40px;
}
