.shop-page-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.product-cards-wrapper {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  gap: 32px;
}

.shop-page-title {
  margin-top: 16px;
}
